@charset "UTF-8";
/* Estilos Generales */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Play:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Play", sans-serif;
  font-size: 62.5%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
}

/* Estilos de HEADER */
header {
  background-color: #000000;
  color: #ffffff;
}
header .logo-extremo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
header .navBar {
  width: 100%;
  display: flex;
  justify-content: center;
}
header .navBar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
header .navBar ul li {
  float: left;
}
header .navBar ul li a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.75rem;
  color: #ffffff;
}
header .navBar ul li a:hover {
  color: #CF0A0A;
}

/* Estilos de FOOTER */
footer {
  font-size: 1.5rem;
  background-color: #CF0A0A;
  color: #EEEEEE;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
footer ul li {
  float: left;
}
footer ul li a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #EEEEEE;
}

/* Página: Index */
main h1, main h2, main p {
  text-align: center;
  padding: 15px;
}
main .principal {
  display: flex;
  flex-direction: row;
  padding: 30px;
}
main .principal img {
  padding-top: 15px;
  max-width: 300px;
  width: 100%;
}
main .principal p {
  padding-right: 50px;
}
main .ultimas-novedades .ultnovflex {
  text-transform: uppercase;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}
main .ultimas-novedades .ultnovflex div {
  margin: 10px;
}
main .ultimas-novedades p {
  padding: 15px;
}
main .ultimas-novedades img {
  width: 325px;
  height: 400px;
}

/* Página: Index - Animación */
.animacion {
  animation-name: efecto;
  animation-iteration-count: 4;
  animation-duration: 4s;
  animation-delay: 1s;
}

@keyframes efecto {
  0% {
    color: #000000;
  }
  25% {
    color: #EEEEEE;
  }
  50% {
    color: #CF0A0A;
  }
  75% {
    color: #ffffff;
  }
  100% {
    color: #000000;
  }
}
/* Página: Quienes Somos */
.somos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.somos h1 {
  text-align: center;
  margin-top: 15px;
}
.somos h2 {
  text-align: center;
  margin-top: 15px;
}

/* Página: Agenda */
main p {
  margin: 0 60px;
  text-align: left;
}
main .agenda-contenedor {
  width: 90%;
  font-size: 2rem;
  margin: 0 auto;
  margin-top: 20px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
main .agenda-contenedor .evento01 {
  background-color: #000000;
  color: #ffffff;
  margin: 15px;
  padding: 15px;
  width: 400px;
}
main .agenda-contenedor .evento01 p {
  margin: 10px 0;
}
main .agenda-contenedor img {
  width: 100%;
}
main .aclaracion {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
  margin: 20px;
}

/* Página: Contacto */
.mensaje {
  margin: 15px 70px;
  font-size: 3rem;
}

/* Página: Contacto - Fomulario */
.mainContacto {
  background-color: #EEEEEE;
  color: #000000;
  width: 450px;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 2rem;
  margin-bottom: 20px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainContacto .formulario {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
}
.mainContacto .formulario label {
  font-size: 1.5rem;
}
.mainContacto .formulario .campo {
  width: 350px;
  padding: 0 10px;
}
.mainContacto .formulario .btnBox {
  display: flex;
  width: 100%;
  justify-content: center;
}
.mainContacto .formulario .btnBox .boton {
  width: 100px;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 7px;
  color: #11468F;
  font-weight: 300;
  margin: 0 15px;
}

/* Página: Blog */
.blogStyle {
  width: 100%;
  align-items: center;
}
.blogStyle .galeria {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blogStyle .galeria p {
  margin: 0 15px;
}
.blogStyle .videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.blogStyle .videos iframe {
  margin: 10px;
  width: 70%;
}

/* MediaQ - Responsive */
@media only screen and (max-width: 720px) {
  .principal {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .principal p {
    padding: 0px;
    margin: 0;
  }
  .principal img {
    max-width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  header .navBar ul li a {
    font-size: 1.5rem;
  }
  header img {
    width: 100%;
  }
  footer {
    font-size: 1rem;
    padding: 0px;
  }
  h1 {
    font-size: 2rem;
    padding: 10px;
  }
  h2 {
    font-size: 2rem;
    padding: 10px;
  }
  p {
    margin: 0px;
    text-align: left;
  }
  .principal {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .principal p {
    padding: 0px;
    margin: 0;
  }
  .principal img {
    max-width: 100%;
  }
  .agenda-contenedor {
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=estilos.css.map */
