/* Colores: 
NEGRO: #000000 - rgb(0, 0, 0)
ROJO: #CF0A0A - rgb(207, 10, 10)
NARANJA: #DC5F00 - rgb(220, 95, 0)
BLANCO: #EEEEEE - rgb(238, 238, 238)
*/

/* Familia de tipograficas */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Play:wght@400;700&display=swap');

/* Codigo para tipografias
font-family: 'Bebas Neue', sans-serif;
font-family: 'Play', sans-serif;
*/

/* SETEO PRINCIPAL */ 

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

/* HEADER */

header{
    font-family: 'Play', sans-serif;
    background-color: #000000;
    color: white;
    text-align: center;
}

header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

header p{
    margin: 15px 0px;
}

main{
    font-family: 'Play', sans-serif;
    background-color: #EEEEEE;
}

.banner-principal{
    font-size: 2rem;
    color: #000000;
    text-align: center;
}

/* Titulos principales - Todos */

h1{
    font-size: 3rem;
    text-align: center;
    padding: 20px;
}

/* Titulos secundarios - Todos */

h2{
    font-size: 2.5rem;
    text-align: center;
    padding: 20px;
}

/* Textos - Todos */ 

p{
    font-size: 1.5rem;
}

/* Menú de navegación */

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
}

li a {
    font-size: 1.75rem;
    display: inline-block;
    color: #EEEEEE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:last-child {
    border-right: none;
}

/* Footer */

footer{
    font-size: 1.5rem;
    font-family: 'Play', sans-serif;
    background-color: #CF0A0A;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.follows{
    color: #EEEEEE;
}

/* Página INDEX */

.ultnovflex{
    text-transform: uppercase;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.ultimas-novedades p{
    padding: 15px;
}

.ultimas-novedades img{
    width: 325px;
    height: 400px;
}

.descripciones{
    display: flex;
    padding-top: 25px;
    justify-content: space-around;
}

main img{
    width: 20%;
    height: 20%;
}

/* Página CONTACTO */

.formulario{
    margin-top: 50px;
}

.formulario label{
    font-size: 1.5rem;
}

.mensaje{
    margin: 15px 70px;
    font-size: 3rem;
}

.boton{
    width: 70px;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 7px;
    color:#11468F;
    font-weight: 300;
}

.mainContacto{
    background-color: gray;
    width: 40%;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 0;
    color: #ffffff;
}

input{
    width: 80%;
    margin: 10px auto;
}

/* Página BLOG */

/* Página AGENDA */

.agenda-contenedor{

    width: 200px;

    font-size: 2rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.agenda-contenedor img{
    width: 100%;
}

.evento01{
    background-color: white;
}

.aclaracion{
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline;
    margin: 20px;
    
}

