/* Colores: 
NEGRO: #000000 - rgb(0, 0, 0)
ROJO: #CF0A0A - rgb(207, 10, 10)
NARANJA: #DC5F00 - rgb(220, 95, 0)
BLANCO: #EEEEEE - rgb(238, 238, 238)
*/

/* Familia de tipograficas 
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Play:wght@400;700&display=swap'); */

/* Codigo para tipografias
font-family: 'Bebas Neue', sans-serif;
font-family: 'Play', sans-serif;
*/

/* SETEO PRINCIPAL 

*{
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
}

html{
    font-size: 62.5%;
} */

/* HEADER

header{
    font-family: 'Play', sans-serif;
    background-color: #000000;
    color: white;
    text-align: center;
}

.logo-extremo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

header p{
    margin: 15px 0px;
} */

main{
    
    background-color: #EEEEEE;
}

.banner-principal{
    font-size: 2rem;
    color: #000000;
    text-align: center;
}

/* Titulos principales - Todos

h1{
    font-size: 3rem;
    text-align: center;
    margin-top: 15px;
}

Titulos secundarios - Todos

h2{
    font-size: 2.5rem;
    text-align: center;
}

Textos - Todos 

p{
    font-size: 1.5rem;
} */ 

/* Menú de navegación 

.navBar{
    width: 100%;
    display: flex;
    justify-content: center;
}

.navBar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navBar ul li{
    float: left;
}

.navBar ul li a {
    font-size: 1.75rem;
    display: inline-block;
    color: #EEEEEE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navBar ul li a:hover{
    color: red;
}  */

/* Footer 

footer{
    font-size: 1.5rem;
    background-color: #CF0A0A;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.follows{
    color: #EEEEEE;
}

.follows ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.follows ul li{
    float: left;
}

.follows ul li a{
    display: inline-block;
    color: #EEEEEE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} */

/* Página INDEX 

.principal{
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.principal img{
    padding-top: 15px;
    max-width: 300px;
    width: 100%;
}

.principal p{
    padding-right: 50px;
}

.ultnovflex{
    text-transform: uppercase;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    margin: 10px;
}

.ultnovflex div{
    margin: 10px;
}

.ultimas-novedades p{
    padding: 15px;
}

.ultimas-novedades img{
    width: 325px;
    height: 400px;
}

.descripciones{
    display: flex;
    padding-top: 25px;
    justify-content: space-around;
}

main img{
    width: 20%;
    height: 20%;
} */

/* Página QUIENES SOMOS 

.somos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.somos p{
    margin: 0 30px;
} */

/* Página CONTACTO */

.formulario{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
}

.formulario label{
    font-size: 1.5rem;
}

.mensaje{
    margin: 15px 70px;
    font-size: 3rem;
}

.boton{
    width: 100px;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 7px;
    color:#11468F;
    font-weight: 300;
    margin: 0 15px;
}

.mainContacto{
    background-color: gray;
    width: 450px;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 0;
    color: #ffffff;
}

.campo{
    width: 350px;
    padding: 0 10px;
}

.btnBox{
    display: flex;
    width: 100%;
    justify-content: center;
}

/* Página BLOG */

.blogStyle{
    width: 100%;
    align-items: center;
}

.galeria{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.galeria p{
    margin: 0 15px;
}

iframe{
    margin: 10px;
}

.videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Página AGENDA 

main p{
    margin: 0 15px;
}

.agenda-contenedor{
    width: 90%;
    font-size: 2rem;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.agenda-contenedor img{
    width: 100%;
}

.evento01{
    background-color: rgb(22, 22, 22);
    color: white;
    margin: 15px;
    padding: 15px;
    width: 400px;
}

.evento01 p{
    margin: 10px 0;
}

.aclaracion{
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline;
    margin: 20px;
} */

/* Breakpoints
480 : Celulares
481 - 900 : Tablets
+ 901 : Pantallas de escritorio/netbook/notebooks */

/* MediaQ - Responsive */

@media only screen and (max-width: 720px){
    .principal{
        flex-direction: column;
    }

    .principal img{
        max-width: 100%;
    }
}

@media only screen and (max-width: 480px){
    header img{
        width: 100%;
    }

    footer{
        font-size: 1rem;
        padding: 0px;
    }

    .navBar li a{
        font-size: 1rem;
    }

    h1{
        font-size: 2rem;
        padding: 10px;
    }

    h2{
        font-size: 2rem;
        padding: 10px;
    }

    .agenda-contenedor{
        flex-wrap: wrap;
    }

    .principal{
        flex-direction: column;
    }
}
