/* Página: Agenda */

main{
    p{
        margin: 0 60px;
        text-align: justify;
    }

    .agenda-contenedor{
        width: 90%;
        font-size: 2rem;
        margin: 0 auto;
        margin-top: 20px;
        flex-wrap: wrap;
        @include flex(row, space-evenly, center);

        .evento01{
            background-color: $negro;
            color: $blanco;
            margin: 15px;
            padding: 15px;
            width: 400px;
            text-align: center;

            .evento-agenda{
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            button{
                background: $rojo;
                color: $blanco;
                border: none;
                position: relative;
                height: 60px;
                font-size: 1.5rem;
                padding: 0 2em;
                cursor: pointer;
                transition: 800ms ease all;
                outline: none;
            }

            button:hover{
                background: $blanco;
                color: $negro;
            }

            button:before,button:after{
                content:'';
                position:absolute;
                top:0;
                right:0;
                height:2px;
                width:0;
                background: $rojo;
                transition:400ms ease all;
            }

            button:after{
                right:inherit;
                top:inherit;
                left:0;
                bottom:0;
            }

            button:hover:before,button:hover:after{
                width:100%;
                transition:800ms ease all;
            }
        }

        img{
            width: 100%;
        }
    }

    .aclaracion{
        font-size: 1.5rem;
        text-align: center;
        text-decoration: underline;
        margin: 20px;
    }
}