/* Página: Index */

main{

    h1, h2, p{
        text-align: center;
        padding: 15px;
    }

    .principal{
        display: flex;
        flex-direction: row;
        padding: 30px;
    
        img{
            padding-top: 15px;
            max-width: 300px;
            width: 100%;
        }
    
        p{
            padding-right: 50px;
        }
    }

    .ultimas-novedades{
        .ultnovflex{
            text-transform: uppercase;
            margin-bottom: 20px;
            @include flex(row, space-around, center);
            flex-wrap: wrap;
            margin: 10px;
        
            div{
                margin: 10px;
            }
        }

        p{
            padding: 15px;
        }

        img{
            width: 325px;
            height: 400px;
        }
    }
}

/* Página: Index - Animación */

.animacion{
    animation-name: efecto;
    animation-iteration-count: 4;
    animation-duration: 4s;
    animation-delay: 1s;
}

@keyframes efecto{
    0%{
        color: $negro;
    }
    25%{
        color: $blanco-2;
    }
    50%{
        color: $rojo;
    }
    75%{
        color: $blanco;
    }
    100%{
        color: $negro;
    }
}