/* Página: Index */

main{

    h1, h2, p{
        text-align: center;
        padding: 15px;
    }

    .principal{
        display: flex;
        flex-direction: row;
        padding: 30px;
    
        img{
            padding-top: 15px;
            max-width: 300px;
            width: 100%;
        }
    
        p{
            padding-right: 50px;
        }
    }

    .ultimas-novedades{
        .ultnovflex{
            text-transform: uppercase;
            font-size: 1.5rem;
            margin-bottom: 10px;
            @include flex(row, space-around, center);
            flex-wrap: wrap;
            margin: 5px;

            div{
                display: flex;
                flex-direction: column;
                align-items: center;

                a{
                    margin: 10px;

                    button{
                        background: $negro;
                        color: $blanco;
                        border: none;
                        position: relative;
                        height: 60px;
                        font-size: 1.25em;
                        padding: 0 2em;
                        cursor: pointer;
                        transition: 800ms ease all;
                        outline: none;
                    }

                    button:hover{
                        background: $blanco;
                        color: $negro;
                    }

                    button:before,button:after{
                        content:'';
                        position:absolute;
                        top:0;
                        right:0;
                        height:2px;
                        width:0;
                        background: $rojo;
                        transition:400ms ease all;
                    }

                    button:after{
                        right:inherit;
                        top:inherit;
                        left:0;
                        bottom:0;
                    }

                    button:hover:before,button:hover:after{
                        width:100%;
                        transition:800ms ease all;
                    }
                }
            }
        }

        img{
            width: 325px;
            height: 400px;
        }
    }
}

/* Página: Index - Animación */

.animacion{
    animation-name: efecto;
    animation-iteration-count: 4;
    animation-duration: 4s;
    animation-delay: 1s;
}

@keyframes efecto{
    0%{
        color: $negro;
    }
    25%{
        color: $blanco-2;
    }
    50%{
        color: $rojo;
    }
    75%{
        color: $blanco;
    }
    100%{
        color: $negro;
    }
}